@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 14px;
  font-weight: 100px;
}

:root {
  --green-clr: hsl(75, 94%, 57%);
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 8%);
  --light-gray: hsl(0, 0%, 20%);
  --dark-gray: hsl(0, 0%, 12%);
}

body {
  background: var(--black-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 1.8rem;
  background: var(--dark-gray);
  border-radius: 2rem;
  width: 32rem;
  height: 100%;
}

.img-jessica {
  text-align: center;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  color: var(--white-clr);
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.location {
  margin-top: 5px;
  color: var(--green-clr);
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}

.description {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  font-size: 13px;
  color: var(--white-clr);
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-links {
  margin-top: 40px;
  text-align: center;
  color: var(--white-clr);
}

.box {
  background: var(--light-gray);
  width: 100%;
  height: 5rem;
  aspect-ratio: 1;
  line-height: 5rem;
  border-radius: 10px;
  border: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 10px 20x 10px;
}

.text {
  color: var(--white-clr);
  font-size: 1.6rem;
}
