@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  border: yellow solid;
}

html {
  font-size: 14px;
  font-weight: 100px;
}

:root {
  --green-clr: hsl(75, 94%, 57%);
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 8%);
  --light-gray: hsl(0, 0%, 20%);
  --dark-gray: hsl(0, 0%, 12%);
}

body {
  background: var(--black-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 80%; */
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background: var(--dark-gray);
  width: 40%;
  height: 100%;
}

.img-jessica {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
}

.name {
  color: var(--white-clr);
  margin-top: 20px;
  font-size: 1.5rem;
}

.location {
  margin-top: 5px;
  color: var(--green-clr);
  font-weight: bold;
  font-size: 0.9rem;
}

.description {
  display: block;
  align-items: center;
  justify-content: conter;
  margin-top: 25px;
  color: var(--white-clr);
}
